In [4]:
## Ans (1)

percentage=int(input('what is your percentage?'))
if percentage > 90:
    print('you got A grade')
elif percentage > 80 and percentage <=90:
    print('you got B grade')
elif percentage > 60 and percentage <=80:
    print('you got C grade')
    
else:
    print('you got D grade')

what is your percentage? 86

you got B grade

In [6]:
## Ans (2)

cost_price=int(input('what is the cost price of the bike?'))
if cost_price > 100000:
    print(f'you need to pay Rs{cost_price*0.15} as a road tax')
elif cost_price > 50000 and cost_price <= 100000:
    print(f'you need to pay Rs{cost_price*0.1} as a road tax')

else:
    print(f'you need to pay Rs{cost_price*0.05} as a road tax')

what is the cost price of the bike? 200000

you need to pay Rs30000.0 as a road tax

In [7]:
## Ans (3)

city=input('which city you want to explore?')
if city=='delhi' or city=='Delhi':
    print('you can visit Red Fort')
elif city=='agra' or city=='Agra':
    print('you can visit Taj Mahal')
elif city=='jaipur' or city=='Jaipur':
    print('ypu can visit Jalmahal')
    

else:
    print('no results found')

which city you want to explore? Agra

you can visit Taj Mahal

In [13]:
## Ans (4)

count = 0
number = int(input('write the number'))
while number >= 10:
    
    number = number / 3
    
    count = count + 1
print('Total iteration required', count)

write the number 349

Total iteration required 4

In [ ]:
## Ans (5)
''' while loop :- till the condition is satisfied or comes true , it will keep on executing so,
make sure to give the condition properly , otherwise it can go to infinite loop'''

In [21]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [14]:
## Ans (6)
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [18]:
n=5
for i in range(n):
    
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [19]:
n=5
for i in range(n):
    
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [20]:
## Ans (7,8 
number=10
while number!=0:
    print(number)
    number= number-1

10
9
8
7
6
5
4
3
2
1